docker.enabled = true

params {
  reads = false
  fasta = 's3://deepvariant-data/genomes/hg19/hg19.fa'
  fai = false
  min_support = 10
  outdir = "./results"
  skip_multiqc = false
  skip_deploit_report = false
}

/*
 * -----------------------------------------------------------
 *  Nextflow config file for using Clairvoyante trained models
 * -----------------------------------------------------------
 *
 * Defines Clairvoyante trained models, using AWS S3 paths
 * The user can specify --model [key] or --data [path]
 *
 * The model names are used to differentiate the models by the sequencing type, sample & training 
 * For example, ont-learningRate1e-4-epoch1499, is for Oxford Nanopore (ont) data & 
 * has trained for epochs at learning rate 1e-3, then another 500 epochs at learning rate 1e-4 
 * For more infomration see https://github.com/aquaskyline/Clairvoyante#about-the-trained-models
 */

params {
  // Command-line model key
  model = false
  // Clairvoyante trained models file paths on AWS S3
  models {
    'illumina-hg001+hg002-learningRate1e-3-epoch500' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001+hg002-hg38/learningRate1e-3.epoch500.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001+hg002-hg38/learningRate1e-3.epoch500.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001+hg002-hg38/learningRate1e-3.epoch500.meta'
    }
    'illumina-hg001-learningRate1e-3-epoch999' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.meta'
    }
    'illumina-hg001-learningRate1e-4-epoch1499' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg001-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.meta'
    }
    'illumina-hg002-learningRate1e-3-epoch999' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.meta'
    }
    'illumina-hg002-learningRate1e-4-epoch1499' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-illumina-novoalign-hg002-hg38/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.meta'
    }
    'ont-learningRate1e-3-epoch999' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.meta'
    }
    'ont-learningRate1e-4-epoch1499' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-ont-ngmlr-hg001-hg19/learningRate1e-3.epoch999.meta'
    }
    'pacbio-hg001+hg002+hg003+hg004-learningRate1e-3-epoch100' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.meta'
    }
    'pacbio-hg001+hg002+hg003+hg004-learningRate1e-4-epoch200' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.learningRate1e-4.epoch200.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.learningRate1e-4.epoch200.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002+hg003+hg004-hg19/learningRate1e-3.epoch100.learningRate1e-4.epoch200.meta'
    }
    'pacbio-hg001+hg002-learningRate1e-3-epoch500' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002-hg19/learningRate1e-3.epoch500.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002-hg19/learningRate1e-3.epoch500.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001+hg002-hg19/learningRate1e-3.epoch500.meta'
    }
    'pacbio-hg001-learningRate1e-3-epoch999' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.meta'
    }
    'pacbio-hg001-learningRate1e-4-epoch1499' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg001-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.meta'
    }
    'pacbio-hg002-learningRate1e-3-epoch999' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.meta'
    }
    'pacbio-hg002-learningRate1e-4-epoch1499' {
        data  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.data-00000-of-00001'
        index = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.index'
        meta  = 's3://lifebit-featured-datasets/pipelines/long-reads/trainedModels/fullv3-pacbio-ngmlr-hg002-hg19/learningRate1e-3.epoch999.learningRate1e-4.epoch1499.meta'
    }
  }
}